@font-face{
    font-family: 'Open Sans';
    src: url(assets/fonts/OpenSans-Light.ttf);
    font-weight: 300;
}
.info-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #11183B;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Open Sans';
}
@keyframes form {
    0% {width: 0%; height: 0%;}
    50% {width: 10%; height: 10%;}
    100% {width: 80%; height: 80%;}
}
.section-2{
    margin-top: -660px;
    position: absolute;
    width: 100%;
    height: 30%;
    z-index: 0;
    background-color: #011aa7;
}
.prefix {
    color: white;
}
.forms {
    width: 80%;
    height: 60%;
    background-color: #181A1B;
    animation: form .75s linear;
    z-index: 1;
}
.contact {
    width: 100%;
    height: 100%;
}
.form-content {
    height: 100%;
    text-align: center;
    font-size: 2em;
}
.message-text {
    margin-top: 30px;
    margin-bottom: 100px;
}
.input {
    margin-left: 0px;
    height: 4em;
    width: 100%;
    background-color: rgb(97,97,97);
    color: #fff;
    border-style: solid;
    border-color: #121212;
    border-width: 2px;
    border-radius: 8px;
}
::placeholder {
    color: #fff;
    font-family: 'Open Sans';
}
.button {
    padding-left: 89%;
    padding-top: 7%;
}
.message {
    width: 80%;
}