@font-face {
    font-family: IconFont;
    src: url(assets/iconfont/icomoon.woff);
}
@font-face{
    font-family: 'Open Sans';
    src: url(assets/fonts/OpenSans-Regular.ttf);
}
@font-face{
    font-family: 'Open Sans';
    src: url(assets/fonts/OpenSans-Light.ttf);
    font-weight: 300;
}
html, head, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
.image-cover {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}
.intro-text {
    width: 276px;
    color: #fff;
    position: absolute;
    align-content: space-between; 
    flex-wrap: nowrap;
    height: 130px;
}
.name {
    width: 276px;    
    text-align: center;
    font-family: 'Open Sans';
    font-size: 50px;
    position: absolute;
    margin-top: 0;
    padding-top: 0;
}
.tagline {
    width: 100%;    
    text-align: center;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 300;
    opacity: 100%;
    position: absolute;
    padding-top: 45px;
    padding-left: 0;
    animation: tagline .5s linear;
}
@keyframes tagline {
    0% {opacity: 0%;}
    50% {opacity: 10%;}
    100% {opacity: 100%;}
}
.arrow {
    width: 50px;
    height: 50px;    
    color: #616161;
    position: absolute;
    animation: jumpy-arrow-2 3s linear 1s infinite;
    bottom: 10px;
}
.arrow:hover {
    animation-play-state: paused;
}
.arrow-link {
    color: #616161;
    transition: .5s;
}
.arrow-link:hover {
    color: #9E9E9E;
}
.down-arrow {
    width: 50px;
    height: 50px;
}
@keyframes jumpy-arrow-2 {
    0%     {transform: translateY(0px);}
    10%     {transform: translateY(-50px);}
    20%     {transform: translateY(0px);}
    30%     {transform: translateY(-30px);}
    40%     {transform: translateY(0px);}
}
.info-cover {
    width: 100%;
    height: 100%;    
    position: absolute;
    background-color: #011aa7;
    align-items: center;
    justify-content: center;
    display: flex;
}
.info-text {
    width: 300px;
    height: 240px;  
    position: absolute;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;    
}
.info-h3 {
    position: absolute;
    margin-top: 0;
    padding-top: 0;
}
.info-link {
    color: white;
    transition: .5s;
}
.info-link:hover {
    color: #1A237E;
}
.social {
    position: absolute;    
    width: 320px;    
    display: flex;
    font-size: 25px;
    color: white;
    bottom: 15px;
    font-family: iconfont;
    gap: 25px;
    padding-bottom: -10px;
}
.social:target {
    animation: social .50s linear;
    animation-delay: .26s; 
}
.social a {
    color: white;
    text-decoration: none;
    transition: .5s;
}
 .social a:hover {
    color: #0e1ed1
} 
@keyframes social {
    0%  {transform: scale(1.0);}
    50% {transform: scale(1.25);}
    100%{transform: scale(1.0);}
}
#music:hover {
    color: #FA233B
}
#facebook:hover {
    color: #3B5998;
}
#github:hover {
    color: #24292e;
}
#instagram:hover {
    color: #e1306c;
}
#spotify:hover {
    color: #1ED760;
}
#twitter:hover {
    color: #1DA1F2;
}